packages:
  yum:
    git: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    MAIL_SERVER: 'sandbox.smtp.mailtrap.io'
    MAIL_PORT: '587'
    MAIL_USE_TLS: 'True'
    MAIL_USE_SSL: 'False'
    MAIL_DEFAULT_SENDER: 'test@example.com'

container_commands:
  01_install_git:
    command: |
      echo "Installing Git..."
      yum install -y git
      echo "Checking Git installation..."
      git --version
  02_set_git_path:
    command: |
      echo "Setting Git executable path..."
      GIT_EXEC_PATH=$(which git)
      export GIT_PYTHON_GIT_EXECUTABLE=$GIT_EXEC_PATH
      echo "GIT_PYTHON_GIT_EXECUTABLE=$GIT_EXEC_PATH" >> /etc/environment
  03_retrieve_secrets:
    command: |
      echo "Retrieving secrets from AWS SSM Parameter Store..."
      MAIL_USERNAME=$(aws ssm get-parameter --name "MAIL_USERNAME" --with-decryption --query "Parameter.Value" --output text)
      MAIL_PASSWORD=$(aws ssm get-parameter --name "MAIL_PASSWORD" --with-decryption --query "Parameter.Value" --output text)
      ENCRYPTION_KEY=$(aws ssm get-parameter --name "ENCRYPTION_KEY" --with-decryption --query "Parameter.Value" --output text)
      SECRET_KEY=$(aws ssm get-parameter --name "SECRET_KEY" --with-decryption --query "Parameter.Value" --output text)
      echo "MAIL_USERNAME=$MAIL_USERNAME" >> /tmp/.env
      echo "MAIL_PASSWORD=$MAIL_PASSWORD" >> /tmp/.env
      echo "MAIL_SERVER=sandbox.smtp.mailtrap.io" >> /tmp/.env
      echo "MAIL_PORT=587" >> /tmp/.env
      echo "MAIL_USE_TLS=True" >> /tmp/.env
      echo "MAIL_USE_SSL=False" >> /tmp/.env
      echo "MAIL_DEFAULT_SENDER=test@example.com" >> /tmp/.env
      echo "ENCRYPTION_KEY=$ENCRYPTION_KEY" >> /tmp/secret.key
      echo "SECRET_KEY=$SECRET_KEY" >> /tmp/secret.key
  04_move_files:
    command: |
      mv /tmp/.env /var/app/current/.env
      mv /tmp/secret.key /var/app/current/secret.key
