container_commands:
  01_retrieve_secrets:
    command: |
      echo "Retrieving secrets from AWS SSM Parameter Store..."
      MAIL_USERNAME=$(aws ssm get-parameter --name "MAIL_USERNAME" --with-decryption --query "Parameter.Value" --output text)
      MAIL_PASSWORD=$(aws ssm get-parameter --name "MAIL_PASSWORD" --with-decryption --query "Parameter.Value" --output text)
      ENCRYPTION_KEY=$(aws ssm get-parameter --name "ENCRYPTION_KEY" --with-decryption --query "Parameter.Value" --output text)
      SECRET_KEY=$(aws ssm get-parameter --name "SECRET_KEY" --with-decryption --query "Parameter.Value" --output text)
      MAIL_SERVER=$(aws ssm get-parameter --name "MAIL_SERVER" --with-decryption --query "Parameter.Value" --output text)
      MAIL_PORT=$(aws ssm get-parameter --name "MAIL_PORT" --with-decryption --query "Parameter.Value" --output text)
      MAIL_USE_TLS=$(aws ssm get-parameter --name "MAIL_USE_TLS" --with-decryption --query "Parameter.Value" --output text)
      MAIL_USE_SSL=$(aws ssm get-parameter --name "MAIL_USE_SSL" --with-decryption --query "Parameter.Value" --output text)
      MAIL_DEFAULT_SENDER=$(aws ssm get-parameter --name "MAIL_DEFAULT_SENDER" --with-decryption --query "Parameter.Value" --output text)
      echo "MAIL_USERNAME=$MAIL_USERNAME" >> /tmp/.env
      echo "MAIL_PASSWORD=$MAIL_PASSWORD" >> /tmp/.env
      echo "MAIL_SERVER=$MAIL_SERVER" >> /tmp/.env
      echo "MAIL_PORT=$MAIL_PORT" >> /tmp/.env
      echo "MAIL_USE_TLS=$MAIL_USE_TLS" >> /tmp/.env
      echo "MAIL_USE_SSL=$MAIL_USE_SSL" >> /tmp/.env
      echo "MAIL_DEFAULT_SENDER=$MAIL_DEFAULT_SENDER" >> /tmp/.env
      echo "ENCRYPTION_KEY=$ENCRYPTION_KEY" >> /tmp/.env
      echo "SECRET_KEY=$SECRET_KEY" >> /tmp/.env
  02_move_files:
    command: |
      mv /tmp/.env /var/app/current/.env
