<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function updateEconomy() {
            var selectedEconomy = document.getElementById('economy-select').value;
            var economyInputs = document.querySelectorAll('.economy-input');
            economyInputs.forEach(function(input) {
                input.value = selectedEconomy;
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            updateEconomy();  // Set the default value on page load
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Transport Model</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a> | 
            <a href="{{ url_for('login') }}">Login</a> | 
            <a href="{{ url_for('logout') }}">Logout</a> |
            <a href="{{ url_for('feedback_form') }}">Submit Feedback</a>
        </nav>
        <section>
            <h2>Select Economy to Run</h2>
            <form action="{{ url_for('staging') }}" method="post">
                <select id="economy-select" name="economy" onchange="updateEconomy()">
                    {% for key in keys %}
                    <option value="{{ key }}" {% if loop.first %}selected{% endif %}>{{ key }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Run Model</button>
            </form>
            <form action="{{ url_for('results') }}" method="post" style="margin-top: 20px;">
                <input type="hidden" name="economy" class="economy-input">
                <button type="submit">Results</button>
            </form>
            <form action="{{ url_for('default_results') }}" method="post" style="margin-top: 20px;">
                <input type="hidden" name="economy" class="economy-input">
                <button type="submit">Default Results</button>
            </form>
            <form action="{{ url_for('reset_user_session') }}" method="post" style="margin-top: 20px;">
                <input type="hidden" name="economy" class="economy-input">
                <button type="submit">Reset Session</button>
            </form>
        </section>
        <section>
            <h2>Methodology and notes</h2>
            <p>Here you can find the methodology and notes for the transport model. These will be helpful in understanding the results and how the model works.</p>
            <ul>
                <li><a href="{{ url_for('content_page', page_name='fuel_mixing') }}">Fuel Mixing</a></li>
                <li><a href="{{ url_for('content_page', page_name='vehicle_sales_shares') }}">Vehicle Sales Shares</a></li>
                <li><a href="{{ url_for('content_page', page_name='activity') }}">Activity</a></li>
                <li><a href="{{ url_for('content_page', page_name='mileage') }}">Mileage</a></li>
                <li><a href="{{ url_for('content_page', page_name='non_road') }}">Non Road</a></li>
                <li><a href="{{ url_for('content_page', page_name='turnover_rates') }}">Turnover Rates</a></li>
                <li><a href="{{ url_for('content_page', page_name='activity_growth') }}">Activity growth</a></li>
                <li><a href="{{ url_for('content_page', page_name='vehicle_ownership') }}">Vehicle Ownership</a></li>
                <li><a href="{{ url_for('content_page', page_name='energy_intensity') }}">Energy Intensity</a></li>
                
                <li><a href="{{ url_for('content_page', page_name='covid') }}">Modelling the effects of COVID-19</a></li>
                <li><a href="{{ url_for('content_page', page_name='lmdi') }}">Analysing the drivers of changes in energy use</a></li>

                <li><a href="{{ url_for('content_page', page_name='concordances') }}">Concordances</a></li>
                <li><a href="{{ url_for('content_page', page_name='matching_official_energy_statistics') }}">Matching Official Energy Statistics</a></li>
                <li><a href="{{ url_for('content_page', page_name='data_collection') }}">Data Collection</a></li>
                <li><a href="{{ url_for('content_page', page_name='glossary') }}">Glossary</a></li>
            </ul>
                <!-- Add more links as needed -->
            </ul>
        </section>
        <section>
            <h2>Download our input data</h2>
            <p>This is the input data for the model. It is not perfect. It is also a combination of many other's hard work to gather this data. I'd especially like to recommend <a href="https://asiantransportoutlook.com" target="_blank">ATO</a> who have a more robust dataset.</p>
            <ul>
                <li><a href="https://drive.google.com/file/d/1zXp2zI13YzQsmzNwGwsOPQW3eEB53NKi/view?usp=sharing" target="_blank">Input Dataset (Google Drive)</a></li>
            </ul>
                <!-- Add more links as needed -->
            </ul>
        </section>
    </div>
</body>
</html>
