<!DOCTYPE html>
<html lang="en">
<head><!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VB6FC5642N"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-VB6FC5642N');
    </script>
    <meta charset="UTF-8">
    <title>Running Model</title>
    <style>
        #log-container {
            border: 1px solid #ccc;
            padding: 10px;
            max-height: 300px;
            overflow-y: scroll;
            white-space: pre-wrap;  /* Ensures newlines are preserved */
            background-color: #f8f9fa;
        }
        #progress-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div id="content-container">
        <h1>Running Model</h1>
        <p>Sometimes a quick refresh might be needed.</p>
        <nav>
            <a href="{{ url_for('index') }}">Home</a> |
            <a href="{{ url_for('feedback_form') }}">Submit Feedback</a>
        </nav>
        <div id="progress-container">
            <p>Sorry the progress and estiamted time functions aren't working yet. The model will probably take 5-10min to run. You can leave this page and come back later.</p>
            <h3>Progress: <span id="progress">0</span>%</h3>
            <!-- <h3>Estimated Time (seconds): <span id="estimated-time">0</span></h3> -->
        </div>
        <h3>Logs:</h3>
        <p>If there is an error in the model run we will just show results from a previous APERC modelling session</p>
        <div id="log-container"></div>
    </div>

    <script>
        async function fetchModelProgress() {
            try {
                const response = await fetch("{{ url_for('model_progress') }}", { method: 'GET' });
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                const data = await response.json();

                if (data.redirect) {
                    window.location.href = data.redirect;
                } else {
                    document.getElementById('progress').innerText = data.progress;
                    // document.getElementById('estimated-time').innerText = data.estimated_time;
                    
                    const logContainer = document.getElementById('log-container');
                    logContainer.innerHTML = '';  // Clear previous logs

                    const logLines = data.logs.split('\n');
                    logLines.forEach(line => {
                        const logLineDiv = document.createElement('div');
                        logLineDiv.textContent = line;
                        logContainer.appendChild(logLineDiv);
                    });

                    console.log(data);
                }
            } catch (error) {
                console.error('Error fetching model progress:', error);
            }
        }

        function update() {
            fetchModelProgress();
        }

        setTimeout(() => {
            setInterval(update, 4000);  // Start updating every 4 seconds after an initial 4-second delay
        }, 4000);  // Update every 4 seconds
    </script>
    
</body>
</html>
